.nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column;
  height: 100%;
}

@media only screen and (min-width: 500px) {
  .nav {
    flex-flow: row;
    align-items: center;
  }
}
