.orderContainer {
    display: flex;
    width: 80%;
    justify-content: space-between;
    box-shadow: 0 2px 3px #ccc;
    bottom: 1px solid #eee;
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
}

.ingredient {
    padding: 5px;
    margin: 0 2px;
    box-sizing: border-box;
}