.navItem {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    height: 100%;
}

.navItemLink {
    text-decoration: none;
    height: 100%;
    padding: 16px 10px;
    color: lightcoral;
    box-sizing: border-box;
    width: 100%;
    display: block;
}

.navItemLink:hover,
.navItemLink:active,
.active {
    color: #40a4c8;
}

@media only screen and (min-width: 500px) {
    .navItem {
        margin: 0;
        display: flex;
        align-items: center;
    }
    
    .navItemLink {
        color: #fff;
        border-bottom: 2px solid transparent;
        box-sizing: border-box;
    }
    
    .navItemLink:hover,
    .navItemLink:active,
    .active {
        border-bottom: 2px solid #40a4c8;
    }
}