.sideDrawer {
    display: flex;
    flex-flow: column;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    max-width: 70%;
    background-color: #fff;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
    z-index: 200;
}

.open {
    transform: translateX(0);
}

.close {
    transform: translateX(-100%);
}

.LogoHeight{
    height: 11%;
}

@media only screen and (min-width: 500px) {
    .sideDrawer {
        display: none;
    }
}