.container {
  display: flex;
  width: 56px;
  height: 56px;
  align-items: center;
  justify-content: center;
}

.hamburger {
  width: 80%;
  background-color: #fff;
  border-radius: 5px;
  height: 2px;
}

.hamburger:before {
    content: '';
    width: 80%;
    background-color: yellow;
    top: -15px;
}
