.toolbar {
    height: 56px;
    width: 100%;
    background-color: #703B09;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
}

.nav {
    height: 100%;
}