.toolbar {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  padding: 0 20px;
  box-sizing: border-box;
  color: #fff;
}

@media only screen and (max-width: 499px) {
  .desktopOnly {
    display: none;
  }
}
