.btn {
    color: #fff;
    background: transparent;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    font: inherit;
    cursor: pointer;
    border: none;
}

.btn:first-of-type {
    padding-left: 0;
    margin-left: 0;
}

.continue {
    color: green;
}

.stop {
    color: crimson;
}