.input {
    border: solid 1px #cccccc;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 5px;
    width: 100%;
}

@media only screen and (min-width: 600px) {
    .input {
        width: 100%;
    }
}

.invalid {
    border: solid 1px red;
}