.orderSummary {
  width: 100%;
  text-align: center;
}

ul {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}

li {
  text-align: left;
  margin: auto;
}

@media only screen and (min-width: 600px) {
  .orderSummary {
    width: 100%;
    margin: auto;
  }
  ul {
   flex-flow: row; 
  }
}

@media only screen and (min-width: 760px) {
  .orderSummary {
    width: 759px;
  }
}