.AuthForm {
  width: 80%;
  box-sizing: border-box;
  padding: 10px;
  margin: 20px auto;
  box-shadow: 2px 3px 5px #ccc;
  border: solid 1px #eee;

}

@media only screen and (min-width: 600px) {
  .AuthForm {
    width: 500px;
  }
}